spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/integrated_cart
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

app:
  security:
    aes-secret: ${AES_SECRET_KEY:ThisIsASecretKeyForAES256Encrypt} # 32 bytes
